
<ion-content padding>
    <!-- <div style="width:100%;height:100px">

    </div> -->
    <ion-card>
        <ion-card-content>
            <ion-img width="100" height="100" src="(../assets/imgs/ic_png" ng-click="scan()"></ion-img>
        </ion-card-content>
    </ion-card>

    <!--*ngIf="productFound"-->
    <ion-card>
        <ion-card-header>
          <h3>Scan Result:</h3>
        </ion-card-header>
        <ion-card-content>
          <ul>
            <!-- <li>{{selectedProduct.plu}}</li>
            <li>{{selectedProduct.name}}</li>
            <li>{{selectedProduct.desc}}</li> -->
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </ion-card-content>
      </ion-card>
</ion-content>
