page-scan-far {
    .toolbar-background {
        background-color: black;
      }
    
      .toolbar-title-md {
          color: #ffffff;
      }
    .qrcontainer{
        text-align : center;
        border: 1px solid #bbb7b7;
    }
}
